<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Atención al Cliente</h5>
                <ul>
                    <li><a href="#">Contáctanos</a></li>
                    <li><a href="#">Centro de Ayuda</a></li>
                    <li><a href="#">Devoluciones y Cambios</a></li>
                    <li><a href="#">Tarjetas de Regalo</a></li>
                    <li><a href="#">Sobre ElectroTech Marketplace</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Cuenta</h5>
                <ul>
                    <li><a href="#">Estado del Pedido</a></li>
                    <li><a href="#">Gestionar Cuenta</a></li>
                    <li><a href="#">Centro de Preferencias</a></li>
                    <li><a href="#">Solicitud de Información Personal</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Servicios</h5>
                <ul>
                    <li><a href="#">Geek Squad</a></li>
                    <li><a href="#">Membresía ElectroTech</a></li>
                    <li><a href="#">Suscripción Mensual</a></li>
                    <li><a href="#">Financiamiento ElectroTech</a></li>
                    <li><a href="#">Programa de Canje</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Sobre Nosotros</h5>
                <ul>
                    <li><a href="#">Información Corporativa</a></li>
                    <li><a href="#">Sala de Prensa</a></li>
                    <li><a href="#">Nuestro Compromiso con el Medio Ambiente</a></li>
                    <li><a href="#">Asóciate con ElectroTech</a></li>
                </ul>
            </div>
        </div>
        <div class="social-media">
            <h5>Síguenos</h5>
            <a href="#"><img src="assets/facebook.svg" alt="https://www.facebook.com/" width="24"></a>
            <a href="#"><img src="assets/instagram.svg" alt="https://www.instagram.com/?hl=es" width="24"></a>
            <a href="#"><img src="assets/linkedin.svg" alt="https://www.linkedin.com/login" width="24"></a>
            <a href="#"><img src="assets/pinterest.svg" alt="https://ar.pinterest.com/" width="24"></a>
            <a href="#"><img src="assets\youtube.svg" alt="https://www.youtube.com/" width="24"></a>
        </div>
        <p>© ElectroTech SRL. Microcentro, Buenos Aires, Argentina.</p>
        <p><a href="#">Términos y Condiciones</a> | <a href="#">Políticas en Línea</a> | <a href="#">Política de
                Privacidad</a></p>
    </div>
</footer>