<header>
    <div class="nav-container">
        <nav>
            <div class="logo">ElectroTech</div>
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="hamburger">&#9776;</label>
       
        </nav>
        <div id="search-container">
            <input type="text" id="search-input" placeholder="Buscar productos...">
            <button id="search-button">Buscar</button>
        </div>
        <div class="cart-container">
            <a href="#" class="cart-icon">
                <img src="assets/carriblanco.png" alt="Carrito de Compras" class="cart-img">
                <img src="assets/carriamarillo.png" alt="Carrito de Compras Hover" class="cart-hover">
                Carrito
            </a>
        </div>
                                              
    </div>
</header>
